@tailwind base;
@tailwind components;
@tailwind utilities;

.group:hover .group-hover\:visible {
  visibility: visible;
}

.group2:hover .group2-hover\:visible {
  visibility: visible;
}

.innerabout {
  background-image: url("../app/assets/inner-pagebg.jpg");
}
